/* Footer.css */
.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #090606;
  color: white;
  text-align: center;
  padding: 1px 20px;
  z-index: 1000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.social-media a {
  margin-right: 15px; /* Adds space between links */
  color: inherit; /* Optional: to inherit color from parent */
  text-decoration: none; /* Optional: to remove underline */
}

.social-media a:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

