/* General Header Styling */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(30, 30, 30, 0.9); /* Dark background */
  color: #e0e0e0; /* Light text color */
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Lighter shadow for contrast */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.scrolled {
  background-color: rgba(40, 40, 40, 0.95); /* Slightly lighter on scroll */
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.15); /* Lighter shadow */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  margin-right: auto;
  width: auto;
  height: auto;
}

.logo img {
  height: 35px;
  width: 250px;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
  position: relative; /* Add this line */
}

.menu a {
  color: #e0e0e0; /* Light text color */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  padding-bottom: 5px; /* Add this line */
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #030404; /* Underline color */
  transition: width 0.3s ease;
}

.menu a.active::after {
  width: 100%;
}

.menu a:hover {
  color: #007bff; /* Change color on hover */
}

/* Mobile Menu Icon */
.mobile-menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.mobile-menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #e0e0e0; /* Light color for bars */
  margin: 4px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .menu {
    display: none; /* Hide menu on mobile */
  }

  .mobile-menu-icon {
    display: flex; /* Show mobile menu icon */
  }
} 