.services-section {
    background: url('/src/assets/images/tecPic.svg'); /* Replace with your pattern path */
    background-size: cover;
    color: black;
    padding: 100px 20px;
    text-align: center;
  }
  
  .services-section .content {
    max-width: 800px;
    margin: 0 auto;
  }
  