.team-section {
    padding: 40px;
    background-color: #ffffff;
    text-align: center;
  }
  
  .team-section h3 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .team-member {
    max-width: 200px;
    margin: 20px;
    text-align: center;
  }
  
  .team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .team-member h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .team-member p {
    font-size: 16px;
    color: #777;
  }
  